/* Nav-Bar */
body {
  padding: 0;
  margin: 0;
  width: 100vw;
}
.hamburger-menu {
  opacity: 0;
}
.teko-text {
  font-family: "Teko", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
#navigation {
  grid-area: navigation;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(
    to right,
    rgb(27, 67, 105),
    rgb(0, 147, 193)
  );
  height: 100px;
  width: 100vw;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.nav-logo {
  height: 70px;
  padding: 20px;
}
.nav-logo:hover {
  opacity: 70%;
  transition: 0.3s;
}

#nav-buttons {
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
}
#hamburger-icon {
  display: none;
}
#social {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-right: 3vw;
}
.social-icons {
  width: 34px;
  height: 40px;
  object-fit: cover;
}
.social-icons:hover {
  opacity: 70%;
  transition: 0.3s;
}
.action {
  border: none;
  height: 35px;
  width: 10vw;
  padding: 5px 20px 5px 20px;
  border-radius: 40px;
  font-size: 20px;
}
#donate {
  background-color: rgb(179, 41, 53);
  color: white;
}
#volunteer {
  background-color: rgb(239, 186, 67);
}
#donate:hover {
  background-color: rgb(231, 105, 115);
  transition: 0.3s;
}
#volunteer:hover {
  background-color: rgb(240, 211, 144);
  transition: 0.3s;
}
/* Contact Form */

.overlay {
  position: absolute;
  top: 100px;
  left: 0;
  width: 100vw;
}
#hero-image {
  width: 100vw;
  height: auto;
}
#blue-div-angle {
  background: radial-gradient(
    ellipse 250px 230px at top right,
    rgb(188, 195, 156),
    rgb(28, 75, 111)
  );
  width: 40vw;
  height: 50vw;
  transform: skew(15deg, 0);
  padding-bottom: 8px;
}
#blue-div-box {
  background: radial-gradient(
    ellipse 150px 220px at top right,
    rgb(188, 195, 156),
    rgb(28, 75, 111)
  );
  width: 29vw;
  height: 50vw;
  padding-bottom: 8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding-left: 4vw;
  gap: 20px;
}

#form-logo {
  width: 20vw;
  padding-top: 50px;
}
#stay-in-touch {
  color: white;
  font-size: 5vw;
  line-height: 4vw;
  padding-top: 40px;
}
.contact-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  gap: 10px;
}
#phone-zip {
  display: flex;
  justify-content: space-between;
  gap: 5px;
  width: 103%;
}
input {
  width: 100%;
  height: 4vh;
  padding: 0;
  background-color: rgb(91, 135, 174);
  color: white;
  border: solid;
  border-width: 1px;
  border-color: white;
  padding-left: 6px;
}
::placeholder {
  color: white;
}
.signup {
  width: 100%;
  height: 30px;
  border-radius: 35px;
  border: none;
  color: rgb(27, 67, 105);
  font-size: 20px;
  background-color: rgb(136, 213, 251);
}
.signup:hover {
  background-color: rgb(255, 180, 61);
  color: rgb(20, 51, 80);
  border: solid black;
  border-width: 1px;
}
/* Donate and Bio Section */
.donate-bio {
  height: 1000px;
  width: 100vw;
  background-color: white;
  position: absolute;
  top: 660px;
  left: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}
/* ~ donate ~ */
#donate-money {
  margin: 50px 0px 50px 0px;
  width: 80vw;
  background: radial-gradient(
    circle 300px at top right,
    rgb(0, 109, 126),
    rgb(36, 96, 142)
  );
  height: 230px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.donate-text {
  color: white;
  font-size: 30px;
  font-weight: 400;
  margin: 20px;
}
.donate-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 70%;
}

.donate-buttons > div {
  width: 270px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
#buttons-col1 > button,
#buttons-col2 > button {
  color: white;
  height: 50px;
  width: 240px;
  background-color: rgb(20, 51, 81);
  border: solid rgb(98, 173, 219);
  border-width: 3px;
  font-size: 35px;
  font-weight: 400;
}

#buttons-col2 > button:hover,
#buttons-col1 > button:hover {
  background-color: rgb(255, 180, 61);
  color: rgb(20, 51, 80);
  border: solid rgb(20, 51, 80);
  border-width: 2px;
}

/* ~ biography ~ */
.bio {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 60vw;
}
h3 {
  font-size: 40px;
  color: rgb(14, 37, 60);
  margin: 20px 20px 20px 0px;
}
.bio-photo-caption {
  position: relative;
  height: 230px;
}
.bio-photo-caption > img {
  height: 230px;
}

#bio-icon {
  position: absolute;
  z-index: 1;
  top: 890;
}
#caption {
  position: absolute;
  height: 70px;
  width: 325px;
  opacity: 80%;
  z-index: 5;
  top: 80px;
  left: 305px;
  font-family: arial;
  color: white;
  font-size: 15px;
  background-image: radial-gradient(
    circle 120px at top right,
    rgb(255, 219, 61),
    rgb(32, 79, 140)
  );
}
.bio-paragraph-photo {
  display: flex;
  justify-content: flex-start;
  padding-top: 40px;
}
.bio-paragraph-photo > img {
  height: 230px;
}
.bio-paragraph {
  width: 70%;
  font-size: 11px;
  margin-top: 0;
}

/* Footer */
footer {
  background-color: rgb(27, 67, 105);
  height: 30vh;
  position: absolute;
  top: 1660px;
  left: 0;
  width: 100vw;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.policy {
  color: white;
  font-family: arial;
  font-size: 8px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 0 50px 20px 0;
}
#policy-text {
  width: 280px;
  border: 1px solid;
  border-color: white;
  padding: 5px 5px 5px 5px;
  text-align: center;
}
.policy-link {
  color: white;
  display: flex;
  gap: 10px;
}
.policy-link > a:visited {
  color: white;
}
.policy-link > a:hover {
  opacity: 70%;
}

/* Responsive CSS */
/* ~Tablet~ */
@media screen and (max-width: 768px) {
  #nav-buttons {
    display: none;
  }
  #blue-div-box {
    gap: 8px;
  }
  #form-logo,
  #stay-in-touch {
    padding-top: 15px;
  }
  .donate-bio {
    top: 500px;
  }
  #donate-money {
    margin: 30px 0 30px 0;
    height: 260px;
  }
  #buttons-col1 > button,
  #buttons-col2 > button {
    height: 40px;
    width: 200px;
    font-size: 25px;
  }
  #caption {
    width: 220px;
  }
  .bio {
    width: 80vw;
  }
  .bio-paragraph-photo > img,
  .bio-photo-caption > img {
    height: 210px;
  }
  .bio-paragraph {
    width: 85%;
    font-size: 10px;
    margin-top: 0;
  }
  #hamburger-icon {
    display: inline;
  }
  #hamburger-icon > img {
    height: 50px;
    margin-right: 100px;
  }
  #hamburger-icon > img:hover {
    background-color: rgb(27, 67, 105);
  }
  .hamburger-menu {
    display: box;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 100px;
    height: 360px;
    width: 250px;
    z-index: 3;
    background-color: rgb(27, 67, 105);
    color: white;
  }
  .hamburger-menu > ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  .visible {
    opacity: 100%;
  }
  ul {
    margin-right: 40px;
  }
  ul > li {
    font-family: "Teko", sans-serif;
    font-weight: 300;
    font-size: 30px;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  ul > li:hover {
    background-color: rgb(0, 147, 193);
  }
  li > a {
    text-decoration: none;
  }
  li > a:visited {
    color: white;
  }
}
/* ~Mobile~ */
@media screen and (max-width: 579px) {
  #buttons-col1 > button,
  #buttons-col2 > button {
    height: 40px;
    width: 100px;
    font-size: 25px;
  }
  #stay-in-touch {
    font-size: 18px;
  }
  .policy {
    width: 200px;
    padding: 0 20px 20px 0;
  }
  #policy-text {
    width: 200px;
    border: 1px solid;
    border-color: white;
    padding: 5px 5px 5px 5px;
    text-align: center;
  }
  #caption {
    display: none;
  }
  .bio {
    width: 80vw;
    justify-content: center;
  }
  .bio-paragraph-photo > img,
  .bio-photo-caption > img {
    height: 210px;
  }
  .bio-paragraph {
    width: 100%;
    font-size: 10px;
    margin-top: 0;
  }
  .bio-paragraph-photo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 20px;
    gap: 20px;
  }
  .nav-logo {
    height: 50px;
    padding: 20px;
  }
  #form-logo {
    height: 50px;
  }
  input {
    height: 2vh;
  }
  ::placeholder {
    font-size: 10px;
  }
}
